/* General Properties */

html {
    font-size: 20px;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    color: white;
}

body {
    font-weight: 400;
    background-color: #374049;
}

nav,
footer {
    background-color: #2e3030;
}

@media (prefers-color-scheme: light) {
    body {
        color: black;
        background-color: #f0fff0;
    }

    nav,
    footer {
        background-color: #bbbebe;
    }

    footer a:hover,
    body a:hover {
        color: #556372;
    }
}

a,
a:visited {
    color: inherit;
}

a:hover a:not(.skillz) {
    color: #d0d0d0;
}

h1 {
    margin-top: 1rem;
    margin-bottom: .25rem;
    font-size: 3rem;
    line-height: 2.5rem;
}

h2 {
    text-decoration: underline;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    margin-top: 2rem;
    text-align: center;
}

h3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.8rem;
}

h4 {
    margin-top: 1rem;
    margin-bottom: .5rem;
    font-size: 1.25rem;
}

h5 {
    margin-bottom: .25rem;
    font-size: 1.25rem;
}

#center {
    text-align: center;
}

.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 0rem 1rem 1rem;
}

header h2{
    margin-top: 7.5rem;
    margin-bottom:0rem;
}

/* Navigation */

nav p {
    margin: 0;
    padding-top: 1rem;
}

nav {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: .5rem;
    z-index: 9999
}

nav li {
    display: inline;
    font-size: 1.25rem;
}

nav,
ul {
    padding: 0;
}

nav ul {
    margin-top: 0
}

nav ul li {
    margin: 0rem .25rem;
}

.now {
    font-weight: bold;
    text-decoration: underline;
    text-decoration-style: solid;
}

nav a {
    text-decoration: none;
}

nav li a:hover {
    border-bottom: .75rem solid;
    padding-bottom: 0;
    transition: .25s;
    color: inherit;
}

/* Main */

main em {
    font-weight: bold;
    font-style: normal;
}

main {
    margin-bottom: 3rem;
}

main ul {
    margin-left: 1.5rem;
    margin-top: 0;
}

main .nover {
    margin-top: 0;
}


main .nunder {
    margin-bottom: 0;
}

main .position {
    font-size: 1.25rem;
    font-style: italic;
    font-weight: bold;
}

.skillz {
    text-decoration: none;
    cursor: text;
}

/* Main Grid */

main .grid-container {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 1rem;
    row-gap: 1rem;
    padding-top: 1rem;
}

main .grid-item-r ul{
    margin-block-end: 0rem;
}

main .grid-container p{
    margin: 0rem 0rem;
}

main .grid-item-l {
    text-align: right;
    font-weight: bold;
}

main .grid-item-r {
    text-align: left;
}

/* Footer */

footer {
    font-style: italic;
    font-size: .75rem;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
}

footer p {
    margin: 0;
}

footer a {
    text-decoration: none;
    color: inherit;
}

footer .material-symbols-rounded {
    position: relative;
    top: 3px;
    font-size: .65rem;
}

/* Footer Grid */

footer .fcontainer {
    margin: .5rem 1rem;
    max-width: none;
}

footer .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 0rem;
    row-gap: .1rem;
    align-items: start;
}

footer .grid-item-l {
    text-align: left;
    grid-column: 1;
}

footer .grid-item-r {
    text-align: right;
    grid-column: 3;
}

footer .grid-item-c {
    text-align: center;
    grid-column: 2;
    grid-row: span 2;
}


/* Responsive Elements */

@media (max-width:768px) {

    h2 {
        font-size: 1.4rem;
        margin-bottom: 1rem;
    }

    h3 {
        font-size: 1.25rem;
    }

    h4 {
        font-size: 1rem;
    }

    h5 {
        font-size: 1.1rem;
    }

    main .position {
        font-size: 1.1rem;
    }

    h1 {
        font-size: 2rem;
        line-height: 1rem;
        padding: .25rem;
        margin: 0rem;
    }
   
    nav li {
        font-size: 1rem;
    }

    nav ul {
        margin-bottom: 0rem
    }

    nav li a:hover {
        border-bottom: none;
        padding-bottom: 0;
        transition: .25s;
        color: inherit;
    }

    nav {
        padding: .4rem;
    }

    main .container {
        margin-top: 0rem;
        padding: 0rem .5rem .5rem;
    }

    header h2{
        margin-top: 4.5rem;
    }

    main {
        margin-bottom: 4rem;
    }

    footer .fcontainer {
        margin: .35rem;
    }

    button {
        visibility: hidden;
    }

    main .grid-container {
        grid-template-columns: 1fr 3fr;
        row-gap: 1rem;
    }
}

/* Image Gallery */

.imgcolumn {
    display: inline-block;
    width: auto;
    height: 5rem;
    padding-right: .25rem;
    position: relative;
}

.imgrow {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 1rem;
}

.imgcolumn img {
    opacity: 0.5;
    cursor: pointer;
    height: 100%;
    vertical-align: middle;
}

.imgcolumn img:hover {
    opacity: 1;
}

.imgrow:after {
    content: "";
    display: table;
    clear: both;
}

.imgcontainer {
    margin-top: .5rem;
    position: relative;
    display: none;
}

#imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
}

.closebtn {
    position: absolute;
    top: 5px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
}

/* the cops! */

.cops {
    width: fit-content;
    height: fit-content;
    border: 15px solid yellow;
    background-color: pink;
    padding: 50px;
    margin: 20px;
    text-align: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    z-index: 9999
}

button {
    cursor: help;
}